.jumbotron {
  padding-top: 6rem;
  background-color: #d1b3ff;
}

footer {
  background-color: #b380ff;
  color: white;
  text-align: center;
}

.a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

section {
  padding-top: 5rem;
}
